[batch_import]
# location of the jar import program
batch_path=/home/lineo4j/import/batch-import/target/batch-import-jar-with-dependencies.jar
# location for created .tsv files from mysql dumps, used in batch-import
batch_tsv_path=/home/lineo4j/import/TSVs/
# database folder which will be created
database_path=/home/lineo4j/import/targetdb
# produced by the script
mysql_dumps=/home/lineo4j/import/dumps/
max_memory=18G
index_edges=false

[mysql_configs]
host=localhost
port=3306
db=tcga
username=
password=
# separate different labels with ':'
datalabels=cbm_pc_quantrev_0706:crc_31july:brca_public_0613:crc_noroi_1807

